
<div class="container h-screen w-full flex justify-content-center align-items-center">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <img src="https://i.pinimg.com/736x/d9/c8/4a/d9c84abcf4b69b73c59b1c28682f47cd.jpg" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl texto-welcome font-medium mb-3">Bienvenido!</div>
            <span class="text-600 font-medium line-height-3">No tienes una cuenta?</span>
            <a href="register" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Registrate ya!</a>
        </div>
    
        <div>
            <label for="email1" class="block text-900 font-medium mb-2">Email</label>
            <input id="email" type="text" name="email"  [(ngModel)]="loginUser.email" pInputText class="w-full mb-3">
    
            <label for="password1" class="block text-900 font-medium mb-2">Contraseña</label>
            <input id="password" type="password" name="password" [(ngModel)]="loginUser.password"  pInputText class="w-full mb-3">
    
            <div class="flex align-items-center justify-content-between mb-6">
               
                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer" href="recoverPassword">Olvidaste tu contraseña?</a>
            </div>
    
            <button (click)="login(loginUser)" pButton pRipple label="Iniciar Sesión" icon="pi pi-user" class="w-full"></button>
        </div>
    </div>
    
</div>